<!DOCTYPE html>
<html lang="ca">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/static/styles.css" rel="stylesheet">
  <title>Add Mail</title>
</head>
<body>
  <h1>Afegir contacte</h1>

  <!-- Formulario para insertar en BD -->
  <form method="post">
    <label for="nombre">Nom:</label><br>
    <input id="nombre" type="text" name="nombre" required value="{{ nombre }}"><br><br>

    <label for="email">Email:</label><br>
    <input id="email" type="email" name="email" required value="{{ email }}"><br><br>

    <button type="submit">Afegir</button>
  </form>

  <!-- Mensaje de OK -->
  {% if mensaje  %}
    <p><strong>OK:</strong> {{ mensaje }}</p>
  {% endif %}

  <!-- Mensaje de error-->
  {% if error %}
    <p><strong>Error:</strong> {{ error }}</p>
  {% endif %}

  <a href="{{ url_for('getmail') }}">Anar a GetMail</a>

</body>
</html>
