<!DOCTYPE html>
<html lang="ca">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/static/styles.css" rel="stylesheet">
  <title>Get Mail</title>
</head>
<body>

  <h1>Buscar email</h1>
  <form method="get">
    <label for="nombre">Nom:</label><br>
    <input id="nombre" type="text" name="nombre" required value="{{ nombre }}"><br><br>
    <button type="submit">Buscar</button>
  </form>

  <!-- Mensaje ok -->
  {% if email %}
    <p><strong>Email:</strong> {{ email }}</p>
  {% endif %}

  <!-- Mensaje de error -->
  {% if error %}
    <p><strong>Error:</strong> {{ error }}</p>
  {% endif %}

  <a href="{{ url_for('addmail') }}">Anar a AddMail</a>

</body>
</html>
